{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="{% url "mine" %}" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
        </form>
    </div>
</div>

<p class="text-center"><i>Tip: Pole je case-insensitive.</i></p>

<dl>
    <dt>Stahovací pásky na kabely</dt>
    <dd>Skákej po jedné předem vybrané noze. Dotyk druhé nohy znamená návrat.</dd>

    <dt>RTC baterie</dt>
    <dd>Dělej "kačenky". Dotyk rukama země znamená návrat.</dd>

    <dt>Větráček</dt>
    <dd>Skákej žabáky. Nohy musí být vždy snožmo.</dd>

    <dt>BIOS čip</dt>
    <dd>Lez po čtyřech.</dd>

    <dt>Záslepka disketové mechaniky</dt>
    <dd>Ve dvojici udělejte trakař. Jeden z vás (trakař) se nesmí dotknout nohama země, druhý (vozka) se nesmí dotýkat
        papírků. Stačí cestou pro papírek, vracet se můžete chůzí.</dd>
</dl>


</p>
{% endblock %}