{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<table class="table table-balance" id="scoreboard">
    <thead>
    <tr>
        <th>Aktuální pořadí</th>
        <th>Tým</th>
        <th>Zisk</th>
    </tr>
    </thead>
    {% include 'bits/score.html' %}
</table>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var sbody = $("#scoreboard").find('tbody');

    setInterval(function () {
        $.ajax({
            url: "{% url 'ajax-score' %}",
            success: function (data, textStatus, xhr) {
                sbody.replaceWith(data);
            }
        });
    }, 5000);
</script>
{% endblock %}
